.DS_Store
output
testoutput
models
gallery
fr
frui
fredit
test_random
test_samplers
test_render
test_materials
test_ray_trace
*.o
*.so
.*.swp
*.xcodeproj
tags
*.trace
*.bak
FastRender_wrap.cpp
FastRender.py
*.pyc
benchmarks/*.dSYM
benchmarks/intersect
benchmarks/random
benchmarks/transform
benchmarks/vector
build
